<h3>Add Product</h3>

<form class="form-inline mb-4">
    <form [formGroup]="productForm" (submit)="createProduct()" class="form-inline mb-4">
        <div class="row">
            <div class="col-lg-4 col-sm-4 col-xs-12">
                <!-- <input type="file" class="file-upload" formControlName="image"
                    onchange="console.log(event.target.files)"> -->
                <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
                <div class="file-upload">
                    {{fileName || "No file uploaded yet."}}
                    <button type="button" mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
                        Select file
                    </button>
                </div>
            </div>
            <div class="col-lg-8 col-sm-8 col-xs-12">
                <label class="sr-only" for="Name">Name</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" formControlName="name" placeholder="name">
                </div>

                <label class="sr-only" for="Description">Description</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="text" class="form-control" formControlName="description" placeholder="Description">
                </div>

                <label class="sr-only" for="Price">Price</label>
                <div class="input-group mb-2 mr-sm-2">
                    <input type="number" min="0" class="form-control" formControlName="price" placeholder="0.00">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Add Product</button>
    </form>