<h3>Products</h3>
<table class="table table-hover">
  <thead>
    <tr class="table-primary">
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="(products$ | async)?.length !== 0">
    <tr>
      <td colspan="5" class="alert alert-danger" *ngIf="error$ | async as error">{{error}}</td>
    </tr>
    <tr *ngFor="let product of (products$ |async)">
      <th scope="row">...</th>
      <!-- {{product.file}} -->
      <th scope="row">{{product.name}}</th>
      <td>{{product.description}}</td>
      <td>{{product.price}}</td>
      <th>
        <a (click)=editProduct(product)>edit</a>
        <br>
        <a (click)=deleteProduct(product)>delete</a>
      </th>
    </tr>
  </tbody>
  <tbody *ngIf="(products$ | async)?.length === 0">
    <tr>
      <td colspan="5">No data found</td>
    </tr>
  </tbody>
</table>