<div class="container">
    <div class="jumbotron">
        <h2>Product master</h2>
        <div class="row">
            <div class="col-lg-6">
                <p class="lead">Application functions</p>
                <ul>
                    <li>Add new item</li>
                    <li>Edit item</li>
                    <li>Delete item</li>
                    <li>Show items</li>
                    <!-- <li>Show items with pagination</li> -->
                    <!-- <li>Search item</li> -->
                    <!-- <li>Upload image</li> -->
                </ul>
            </div>
            <div class="col-lg-6">
                <!-- <p class="lead">Please seldct your option below</p> -->
                <p class="lead">Tect Stack, Tools, Technologies</p>
                <ul>
                    <li>Angular</li>
                    <li>NgRx ecosystem</li>
                </ul>
            </div>
        </div>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" [routerLink]="['products']" role="button">
                Entrance application
                <fa-icon [icon]="faRocket" animation="shake" style="--fa-animation-duration: 5s;"></fa-icon>
            </a>
        </p>
    </div>
</div>